<template>
  <div class="achievement">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Achievement</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="achievement.kd_jabatan"
                  :items="job"
                  item-text="nama_jabatan"
                  item-value="kd_jabatan"
                  single-line
                  auto
                  label="Role"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="Detail"
                  v-model="achievement.detail"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateAchievement"
            >Update</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"></span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <h2>Are sure want to delete {{ achievement.role }} ?</h2>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >No</v-btn
          >
          <v-btn color="info darken-1" text @click="deleteAchievement"
            >Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Achievement</h2>
      <v-dialog v-model="dialogAdd" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
            style="margin-bottom: 5px"
          >
            Add New
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add New Achievement</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-select
                    v-model="achievement.kd_jabatan"
                    :items="job"
                    item-text="nama_jabatan"
                    item-value="kd_jabatan"
                    single-line
                    auto
                    label="Role"
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="input-7-1"
                    label="Detail"
                    v-model="achievement.detail"
                    hint="Hint text"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogAdd = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <div class="achievement" v-for="item in data" :key="item.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ item.nama_jabatan }}</h5>
            <p class="card-text text">
              {{ item.detail }}
            </p>
            <div class="row">
              <div class="col">
                <v-btn color="info" depressed small @click="getEdit(item)">
                  Edit
                </v-btn>
                <v-btn color="error" depressed small @click="getDelete(item)">
                  Delete
                </v-btn>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Achievement from '../apis/Achievement';
import Master from '../apis/Master';

export default {
  name: 'Achievement',
  components: {
    Navbar,
  },
  data() {
    return {
      achievement: {
        id_prestasi: '',
        kd_jabatan: '',
        detail: '',
      },
      job: [],
      data: [],
      error: '',
      text: '',
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
    };
  },
  created() {
    this.getAchievement();
    this.getJob();
  },
  methods: {
    async getJob() {
      try {
        this.job = await (await Master.getJob()).data;
      } catch (error) {
        this.error = error.message;
      }
    },

    async getAchievement() {
      try {
        const result = await (await Achievement.get()).data;
        if (result.length > 0) {
          this.data = result;
        } else {
          this.data = [];
          this.$swal('Oops', 'No achievement data was found!', 'error');
        }
      } catch (error) {
        if (error.response.status == 404) {
          this.$swal('Oops', 'Something error!', 'error');
        }
      }
    },

    getEdit(item) {
      this.dialogEdit = true;
      this.achievement.id_prestasi = item.id_prestasi;
      this.achievement.kd_jabatan = item.kd_jabatan;
      this.achievement.detail = item.detail;
    },

    getDelete(item) {
      this.dialogDelete = true;
      this.achievement.id_prestasi = item.id_prestasi;
      this.achievement.role = item.nama_jabatan;
    },

    async save() {
      try {
        await Achievement.create(this.achievement)
          .then((response) => {
            console.log(response);
            this.getAchievement();
            this.achievement.kd_jabatan = '';
            this.achievement.detail = '';
            this.dialogAdd = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async updateAchievement() {
      try {
        await Achievement.update(this.achievement.id_prestasi, this.achievement)
          .then((response) => {
            console.log(response);
            this.getAchievement();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async deleteAchievement() {
      try {
        await Achievement.delete(this.achievement.id_prestasi)
          .then((response) => {
            console.log(response);
            this.getAchievement();
            this.dialogDelete = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
.text {
  white-space: pre-line;
}
</style>