<template>
  <div class="course">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Course</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Judul Kursus*"
                  v-model="course.judul_kursus"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Penyelenggara*"
                  v-model="course.penyelenggara"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Tempat*" v-model="course.tempat" required>
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="course.tanggal_mulai"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="course.tanggal_mulai"
                      label="Tanggal Mulai"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker @input="inputHandlerMulai" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(course.tanggal_mulai)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu2"
                  v-model="menu2"
                  :close-on-content-click="false"
                  :return-value.sync="course.tanggal_selesai"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="course.tanggal_selesai"
                      label="Tanggal Selesai"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    @input="inputHandlerSelesai"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu2 = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu2.save(course.tanggal_selesai)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Lama Kegiatan*"
                  v-model="course.lama_kegiatan"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="course.sertifikat"
                  :items="entidades"
                  item-text="sertifikat"
                  item-value="sertifikat"
                  single-line
                  auto
                  label="Sertifikat"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="course.role"
                  :items="job"
                  item-text="nama_jabatan"
                  item-value="kd_jabatan"
                  single-line
                  auto
                  label="Role"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateCourse">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"></span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <h2>Are sure want to delete {{ course.judul_kursus }} ?</h2>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >No</v-btn
          >
          <v-btn color="info darken-1" text @click="deleteCourse">Yes </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Course</h2>
      <v-dialog v-model="dialogAdd" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on"> Add New </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add New Course</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Judul Kursus*"
                    v-model="course.judul_kursus"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Penyelenggara*"
                    v-model="course.penyelenggara"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Tempat*"
                    v-model="course.tempat"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="course.tanggal_mulai"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="course.tanggal_mulai"
                        label="Tanggal Mulai"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="course.tanggal_mulai"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(course.tanggal_mulai)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu2"
                    v-model="menu2"
                    :close-on-content-click="false"
                    :return-value.sync="course.tanggal_selesai"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="course.tanggal_selesai"
                        label="Tanggal Selesai"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="course.tanggal_selesai"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu2 = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu2.save(course.tanggal_selesai)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Lama Kegiatan*"
                    v-model="course.lama_kegiatan"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="course.sertifikat"
                    :items="entidades"
                    item-text="sertifikat"
                    item-value="sertifikat"
                    single-line
                    auto
                    label="Sertifikat"
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="course.role"
                    :items="job"
                    item-text="nama_jabatan"
                    item-value="kd_jabatan"
                    single-line
                    auto
                    label="Role"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogAdd = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-simple-table>
        <thead>
          <tr>
            <th>Judul Kursus</th>
            <th>Penyelenggara</th>
            <th>Tempat</th>
            <th>Taggal Mulai</th>
            <th>Tanggal Selesai</th>
            <th>Lama Kegiatan</th>
            <th>Sertifikat</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody v-for="item in data" :key="item.id">
          <tr>
            <td>{{ item.judul_kursus }}</td>
            <td>{{ item.penyelenggara }}</td>
            <td>{{ item.tempat }}</td>
            <td>{{ item.tanggal_mulai }}</td>
            <td>{{ item.tanggal_selesai }}</td>
            <td>{{ item.lama_kegiatan }} hari</td>
            <td>{{ item.sertifikat }}</td>
            <td>{{ item.role_tb_m_daftar_pekerjaan.nama_jabatan }}</td>
            <td>
              <v-btn color="info" depressed small @click="getEdit(item)">
                Edit
              </v-btn>
              <v-btn color="error" depressed small @click="getDelete(item)">
                Delete
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Course from '../apis/Course';
import Master from '../apis/Master';
import moment from 'moment';

export default {
  name: 'Course',
  components: {
    Navbar,
  },
  data() {
    return {
      course: {
        id_kursus: '',
        judul_kursus: '',
        penyelenggara: '',
        tempat: '',
        tanggal_mulai: '',
        tanggal_selesai: '',
        lama_kegiatan: '',
        sertifikat: '',
        role: '',
      },
      menu: false,
      menu2: false,
      data: [],
      error: '',
      text: '',
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      entidades: [{ sertifikat: 'Ya' }, { sertifikat: 'Tidak' }],
      job: [],
    };
  },
  computed: {
    datePickerFormattedDate() {
      return this.tanggal_mulai
        ? moment(this.tanggal_mulai).toDate()
        : undefined; // Date picker objects needs date in this particular format
    },
  },
  async created() {
    this.getCourse();
    this.getJob();
  },
  methods: {
    inputHandlerMulai(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY-MM-DD');
      this.course.tanggal_mulai = date;
    },

    inputHandlerSelesai(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY-MM-DD');
      this.course.tanggal_selesai = date;
    },

    async getJob() {
      try {
        this.job = await (await Master.getJob()).data;
        console.log(this.job);
      } catch (error) {
        this.error = error.message;
      }
    },

    async getCourse() {
      try {
        const result = await (await Course.get()).data;
        if (result.length > 0) {
          this.data = result;
        } else {
          this.data = [];
          this.$swal('Oops', 'No course data was found!', 'error');
        }
      } catch (error) {
        if (error.response.status == 404) {
          this.$swal('Oops', 'Something error!', 'error');
        }
      }
    },

    async save() {
      try {
        await Course.create(this.course)
          .then((response) => {
            console.log(response);
            this.getCourse();
            this.course.judul_kursus = '';
            this.course.penyelenggara = '';
            this.course.tempat = '';
            this.course.tanggal_mulai = '';
            this.course.tanggal_selesai = '';
            this.course.lama_kegiatan = '';
            this.course.sertifikat = '';
            this.course.role = '';
            this.dialogAdd = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    getEdit(item) {
      try {
        this.dialogEdit = true;
        this.course.id_kursus = item.id_kursus;
        this.course.judul_kursus = item.judul_kursus;
        this.course.penyelenggara = item.penyelenggara;
        this.course.tempat = item.tempat;
        this.course.tanggal_mulai = item.tanggal_mulai;
        this.course.tanggal_selesai = item.tanggal_selesai;
        this.course.lama_kegiatan = item.lama_kegiatan;
        this.course.sertifikat = item.sertifikat;
        this.course.role = item.role_tb_m_daftar_pekerjaan.kd_jabatan;
        console.log(item);
      } catch (error) {
        console.log(error);
      }
    },

    getDelete(item) {
      try {
        this.dialogDelete = true;
        this.course.id_kursus = item.id_kursus;
        this.course.judul_kursus = item.judul_kursus;
        console.log(item);
      } catch (error) {
        console.log(error);
      }
    },

    async updateCourse() {
      try {
        await Course.update(this.course.id_kursus, this.course)
          .then((response) => {
            console.log(response);
            this.getCourse();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async deleteCourse() {
      try {
        await Course.delete(this.course.id_kursus)
          .then((response) => {
            console.log(response);
            this.getCourse();
            this.dialogDelete = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>