<template>
  <div class="education">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Education</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Instansi*"
                  v-model="education.instansi"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="education.tingkat_pendidikan"
                  :items="degree"
                  item-text="nama_gelar"
                  item-value="kd_gelar"
                  single-line
                  auto
                  label="Tingkat Pendidikan"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Jurusan*"
                  v-model="education.jurusan"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Tahun Masuk*"
                  v-model="education.tahun_masuk"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Tahun Keluar*"
                  v-model="education.tahun_keluar"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateEducation"
            >Update</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"></span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <h2>Are sure want to delete {{ education.instansi }} ?</h2>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >No</v-btn
          >
          <v-btn color="info darken-1" text @click="deleteEducation"
            >Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Education</h2>
      <v-dialog v-model="dialogAdd" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on"> Add New </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add New Education</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Instansi*"
                    v-model="education.instansi"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="education.tingkat_pendidikan"
                    :items="degree"
                    item-text="nama_gelar"
                    item-value="kd_gelar"
                    single-line
                    auto
                    label="Tingkat Pendidikan"
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Jurusan*"
                    v-model="education.jurusan"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Tahun Masuk*"
                    v-model="education.tahun_masuk"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Tahun Keluar*"
                    v-model="education.tahun_keluar"
                    required
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogAdd = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="saveEducation"
              >Save</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-simple-table>
        <thead>
          <tr>
            <th>Instansi</th>
            <th>Tingkat Pendidikan</th>
            <th>Jurusan</th>
            <th>Tahun Masuk</th>
            <th>Tahun Keluar</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody v-for="item in data" :key="item.id_pendidikan">
          <tr>
            <td>{{ item.instansi }}</td>
            <td>{{ item.nama_gelar }}</td>
            <td>{{ item.jurusan }}</td>
            <td>{{ item.tahun_masuk }}</td>
            <td>{{ item.tahun_keluar }}</td>
            <td>
              <v-btn color="info" depressed small @click="getEdit(item)">
                Edit
              </v-btn>
              <v-btn color="error" depressed small @click="getDelete(item)">
                Delete
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Edu from '../apis/Education';
import Master from '../apis/Master';
import Education from '../apis/Education';

export default {
  name: 'Education',
  components: {
    Navbar,
  },
  data() {
    return {
      education: {
        id_pendidikan: '',
        instansi: '',
        tingkat_pendidikan: '',
        jurusan: '',
        tahun_masuk: '',
        tahun_keluar: '',
      },
      data: [],
      error: '',
      text: '',
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      degree: [],
    };
  },
  async created() {
    this.getEdu();
    this.getDegree();
  },
  methods: {
    async getDegree() {
      try {
        this.degree = await (await Master.getDegree()).data;
      } catch (error) {
        this.error = error.message;
      }
    },

    async getEdu() {
      try {
        const result = await (await Education.getEducation()).data;
        if (result.length > 0) {
          this.data = result;
        } else {
          this.data = [];
          this.$swal('Oops', 'No education data was found!', 'error');
        }
      } catch (error) {
        if (error.response.status == 404) {
          this.$swal('Oops', 'Something error!', 'error');
        }
      }
    },

    async saveEducation() {
      try {
        await Edu.createEdu(this.education)
          .then((response) => {
            console.log(response);
            this.getEdu();
            this.education.id_pendidikan = '';
            this.education.instansi = '';
            this.education.tingkat_pendidikan = '';
            this.education.jurusan = '';
            this.education.tahun_masuk = '';
            this.education.tahun_keluar = '';
            this.dialogAdd = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async getEdit(item) {
      try {
        this.dialogEdit = true;
        this.education.id_pendidikan = item.id_pendidikan;
        this.education.instansi = item.instansi;
        this.education.tingkat_pendidikan = item.tingkat_pendidikan;
        this.education.jurusan = item.jurusan;
        this.education.tahun_masuk = item.tahun_masuk;
        this.education.tahun_keluar = item.tahun_keluar;
      } catch (error) {
        console.log(error);
      }
    },

    async getDelete(item) {
      try {
        this.dialogDelete = true;
        this.education.id_pendidikan = item.id_pendidikan;
        this.education.instansi = item.instansi;
      } catch (error) {
        console.log(error);
      }
    },

    async updateEducation() {
      try {
        await Edu.updateEdu(this.education.id_pendidikan, this.education)
          .then((response) => {
            console.log(response);
            this.getEdu();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
        console.log(this.education.id_pendidikan);
      } catch (error) {
        console.log(error);
      }
    },

    async deleteEducation() {
      try {
        await Edu.deleteEdu(this.education.id_pendidikan)
          .then((response) => {
            console.log(response);
            this.getEdu();
            this.dialogDelete = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>