<template>
  <div class="language">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Language Experience</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Bahasa*"
                  v-model="bahasa_exp.bahasa"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="bahasa_exp.tingkat"
                  :items="level"
                  item-text="tingkat"
                  item-value="tingkat"
                  single-line
                  auto
                  label="Tingkat Bahasa"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateLang">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"></span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <h2>Are sure want to delete {{ bahasa_exp.bahasa }} ?</h2>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >No</v-btn
          >
          <v-btn color="info darken-1" text @click="deleteLang">Yes </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Pengalaman Bahasa</h2>
      <v-dialog v-model="dialogAdd" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on"> Add New </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add New Language Experience</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Bahasa*"
                    v-model="bahasa_exp.bahasa"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="bahasa_exp.tingkat"
                    :items="level"
                    item-text="tingkat"
                    item-value="tingkat"
                    single-line
                    auto
                    label="Tingkat Bahasa"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogAdd = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-simple-table>
        <thead>
          <tr>
            <th>Bahasa</th>
            <th>Tingkat</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody v-for="item in data" :key="item.id_bahasa">
          <tr>
            <td>{{ item.bahasa }}</td>
            <td>{{ item.tingkat }}</td>
            <td>
              <v-btn color="info" depressed small @click="getEdit(item)">
                Edit
              </v-btn>
              <v-btn color="error" depressed small @click="getDelete(item)">
                Delete
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Profile from '../apis/Profile';

export default {
  name: 'Language',
  data() {
    return {
      bahasa_exp: {
        id_bahasa: '',
        bahasa: '',
        tingkat: '',
      },
      data: [],
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      level: [{ tingkat: 'Good' }, { tingkat: 'Bad' }],
    };
  },
  components: {
    Navbar,
  },
  async created() {
    this.getLang();
  },
  methods: {
    async getLang() {
      const result = await (await Profile.getLang()).data;
      if (result.length > 0) {
        this.data = result;
      } else {
        this.data = [];
        this.$swal('Oops', 'No language experience data was found!', 'error');
      }
    },

    async save() {
      try {
        await Profile.createLang(this.bahasa_exp)
          .then((response) => {
            console.log(response);
            this.getLang();
            this.bahasa_exp.id_bahasa = '';
            this.bahasa_exp.bahasa = '';
            this.bahasa_exp.tingkat = '';
            this.dialogAdd = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    getEdit(item) {
      this.dialogEdit = true;
      this.bahasa_exp.id_bahasa = item.id_bahasa;
      this.bahasa_exp.bahasa = item.bahasa;
      this.bahasa_exp.tingkat = item.tingkat;
    },

    getDelete(item) {
      this.dialogDelete = true;
      this.bahasa_exp.id_bahasa = item.id_bahasa;
      this.bahasa_exp.bahasa = item.bahasa;
    },

    async updateLang() {
      try {
        await Profile.updateLang(this.bahasa_exp.id_bahasa, this.bahasa_exp)
          .then((response) => {
            console.log(response);
            this.getLang();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async deleteLang() {
      try {
        await Profile.deleteLang(this.bahasa_exp.id_bahasa)
          .then((response) => {
            console.log(response);
            this.getLang();
            this.dialogDelete = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>