<template>
  <div class="login">
    <div class="container">
      <form @submit.prevent="handleSubmit">
        <h2>Login</h2>

        <div class="form-group">
          <label for="nik">NIK</label>
          <input
            type="text"
            class="form-control"
            v-model="personal.nik"
            placeholder="nik"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            v-model="personal.password"
            placeholder="password"
            required
          />
        </div>

        <button class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import Auth from '../apis/Auth';

export default {
  name: 'Login',

  data() {
    return {
      personal: {
        nik: '',
        password: '',
      },
    };
  },
  methods: {
    async handleSubmit() {
      try {
        const response = await Auth.login(this.personal);
        console.log(response);
        localStorage.setItem('token', response.data.token);
        this.$router.push('/');
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>