<template>
  <div class="profile">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Nama Depan*"
                  v-model="profile.nama_depan"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Nama Belakang*"
                  v-model="profile.nama_belakang"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Tempat Lahir*"
                  v-model="profile.tempat_lahir"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="profile.tanggal_lahir"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="profile.tanggal_lahir"
                      label="Tanggal Lahir"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker @input="inputHandler" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(profile.tanggal_lahir)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="profile.jenis_kelamin"
                  :items="jk"
                  item-text="jk"
                  item-value="jk"
                  single-line
                  auto
                  label="Jenis Kelamin"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="profile.kesehatan"
                  :items="entidades"
                  item-text="kesehatan"
                  item-value="kesehatan"
                  single-line
                  auto
                  label="Kesehatan"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="profile.agama"
                  :items="religion"
                  item-text="nama_agama"
                  item-value="kd_agama"
                  single-line
                  auto
                  label="Agama"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="profile.role_terakhir"
                  :items="job"
                  item-text="nama_jabatan"
                  item-value="kd_jabatan"
                  single-line
                  auto
                  label="Role Terakhir"
                ></v-select>
              </v-col>
              <v-col>
                <v-file-input
                  v-model="profile.image"
                  label="Select Image File..."
                  accept="image/*"
                ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="About"
                  v-model="profile.list_profile"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="About Tech"
                  v-model="profile.list_ptech"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateProfile"
            >Update</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Profile</h2>
      <!-- jumbotron -->
      <div class="jumbotron text-center">
        <img
          v-if="data.foto"
          :src="'http://localhost:3000/' + data.foto"
          alt=""
          class="rounded-circle"
        />
        <h3>{{ data.nama_depan }} {{ data.nama_belakang }}</h3>
        <p>{{ data.nama_role_terakhir }}</p>
        <p>
          {{ data.tempat_lahir }}, {{ data.tanggal_lahir }} <br />
          Jenis Kelamin: {{ data.jenis_kelamin }} <br />
          Kesehatan:
          {{ data.kesehatan }}
          <br />
          Agama: {{ agamaName }}
        </p>
        <table class="center">
          <thead>
            <th colspan="2">Bahasa</th>
          </thead>
          <tbody v-for="item in data.tb_p_pengalaman_bahasas" :key="item.id">
            <tr>
              <td>{{ item.bahasa }}: {{ item.tingkat }}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <v-btn color="info" depressed small @click="getEdit(data)">
          Edit Profile
        </v-btn>

        <v-btn color="success" depressed small @click="generateDocx()">
          Generate Resume
        </v-btn>
      </div>
      <!-- akhir jumbotron -->

      <!-- about -->
      <section class="about" id="about">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">About</h2>
            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <span v-if="data.list_profile">
              {{ data.list_profile }}
            </span>
          </div>
          <div class="col-sm-6">
            <span v-if="data.list_ptech">
              {{ data.list_ptech }}
            </span>
          </div>
        </div>
      </section>
      <!-- akhir about -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue';
import Profile from '../apis/Profile';
import Master from '../apis/Master';
import moment from 'moment';

export default {
  name: 'Profile',
  components: {
    Navbar,
  },
  data() {
    return {
      profile: {
        nama_depan: '',
        nama_belakang: '',
        tempat_lahir: '',
        tanggal_lahir: '',
        jenis_kelamin: '',
        kesehatan: '',
        image: [],
        agama: '',
        role_terakhir: '',
        list_profile: '',
        list_ptech: '',
      },
      data: [],
      menu: false,
      dialogEdit: false,
      error: '',
      text: '',
      job: [],
      religion: [],
      entidades: [{ kesehatan: 'Good' }, { kesehatan: 'Bad' }],
      jk: [{ jk: 'L' }, { jk: 'P' }],
    };
  },
  async created() {
    this.getProfile();
    this.getReligion();
    this.getJob();
  },
  computed: {
    agamaName() {
      return this.data.agama_tb_m_agama
        ? this.data.agama_tb_m_agama.nama_agama
        : '';
    },
  },
  methods: {
    async getJob() {
      try {
        this.job = await (await Master.getJob()).data;
      } catch (error) {
        this.error = error.message;
      }
    },
    async getReligion() {
      try {
        this.religion = await (await Master.getReligion()).data;
      } catch (error) {
        this.error = error.message;
      }
    },
    async getProfile() {
      try {
        this.data = await (await Profile.get()).data;
        console.log(this.data);
      } catch (error) {
        this.error = error.message;
      }
    },
    getEdit(item) {
      try {
        this.dialogEdit = true;
        this.profile.nama_depan = item.nama_depan;
        this.profile.nama_belakang = item.nama_belakang;
        this.profile.tempat_lahir = item.tempat_lahir;
        this.profile.tanggal_lahir = item.tanggal_lahir;
        this.profile.jenis_kelamin = item.jenis_kelamin;
        this.profile.kesehatan = item.kesehatan;
        this.profile.agama = item.agama;
        this.profile.role_terakhir = item.role_terakhir;
        this.profile.list_profile = item.list_profile;
        this.profile.list_ptech = item.list_ptech;
      } catch (error) {
        console.log(error);
      }
    },
    async updateProfile() {
      try {
        const formData = new FormData();
        formData.append('nama_depan', this.profile.nama_depan);
        formData.append('nama_belakang', this.profile.nama_belakang);
        formData.append('tempat_lahir', this.profile.tempat_lahir);
        formData.append('tanggal_lahir', this.profile.tanggal_lahir);
        formData.append('jenis_kelamin', this.profile.jenis_kelamin);
        formData.append('kesehatan', this.profile.kesehatan);
        formData.append('agama', this.profile.agama);
        formData.append('role_terakhir', this.profile.role_terakhir);
        formData.append('image', this.profile.image);
        formData.append('list_profile', this.profile.list_profile);
        formData.append('list_ptech', this.profile.list_ptech);
        await Profile.update(formData)
          .then((response) => {
            console.log(response);
            this.getProfile();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },
    inputHandler(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY-MM-DD');
      this.profile.tanggal_lahir = date;
    },
    generateDocx() {
      Profile.generateDocx().then((response) => {
        console.log(response.data.data);
        var fileLink = document.createElement('a');

        fileLink.target = '_blank';
        fileLink.href = 'http://localhost:3000/' + response.data.data;
        document.body.appendChild(fileLink);

        fileLink.click();
      });
    },
  },
};
</script>

<style>
.jumbotron img {
  width: 200px;
  border: 5px solid #666;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.jumbotron table {
  margin-top: 0px;
}

section {
  min-height: 600px;
}

hr {
  width: 250px;
  border-top: 3px solid #999;
  margin: auto;
}

.about span {
  white-space: pre-line;
}
</style>
