<template>
  <div class="project">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Project</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Nama Project*"
                  v-model="project.nama_project"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="project.tanggal_mulai"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="project.tanggal_mulai"
                      label="Tanggal Mulai"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker @input="inputHandlerMulai" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(project.tanggal_mulai)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu2"
                  v-model="menu2"
                  :close-on-content-click="false"
                  :return-value.sync="project.tanggal_selesai"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="project.tanggal_selesai"
                      label="Tanggal Selesai"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    @input="inputHandlerSelesai"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu2 = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu2.save(project.tanggal_selesai)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Customer*"
                  v-model="project.customer"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="End Customer"
                  v-model="project.end_customer"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project Site"
                  v-model="project.project_site"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="Deskripsi Project"
                  v-model="project.deskripsi_project"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="Tech Info"
                  v-model="project.tech_info"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="Other Info"
                  v-model="project.other_info"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project Language"
                  v-model="project.project_lang"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project Framework"
                  v-model="project.project_framework"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project App"
                  v-model="project.project_app"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project Tools"
                  v-model="project.project_tool"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project Database"
                  v-model="project.project_db"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project OS"
                  v-model="project.project_os"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Project Server"
                  v-model="project.project_server"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateProject"
            >Update</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"></span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <h2>Are sure want to delete {{ project.nama_project }} ?</h2>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >No</v-btn
          >
          <v-btn color="info darken-1" text @click="deleteProject">Yes </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogRole" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Project Role</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="new_role.role"
                  :items="job"
                  item-text="nama_jabatan"
                  item-value="kd_jabatan"
                  single-line
                  auto
                  label="Role"
                ></v-select>
                <v-btn color="blue darken-1" text @click="addRole">Add</v-btn>
                <ul>
                  <li class="flex" v-for="role in roles" :key="role.id_pr">
                    {{ role.role_tb_m_daftar_pekerjaan.nama_jabatan }}
                    <button
                      class="nes-btn is-error padding"
                      v-on:click="removeRole(role.id_pr)"
                    >
                      X
                    </button>
                  </li>
                </ul>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogRole = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Project</h2>
      <v-dialog v-model="dialogAdd" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on"> Add New </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add New Work Experience</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Nama Project*"
                    v-model="project.nama_project"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="project.tanggal_mulai"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="project.tanggal_mulai"
                        label="Tanggal Mulai"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      @input="inputHandlerMulai"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(project.tanggal_mulai)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu2"
                    v-model="menu2"
                    :close-on-content-click="false"
                    :return-value.sync="project.tanggal_selesai"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="project.tanggal_selesai"
                        label="Tanggal Selesai"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      @input="inputHandlerSelesai"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu2 = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu2.save(project.tanggal_selesai)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Customer*"
                    v-model="project.customer"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="End Customer"
                    v-model="project.end_customer"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project Site"
                    v-model="project.project_site"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="input-7-1"
                    label="Deskripsi Project"
                    v-model="project.deskripsi_project"
                    hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="input-7-1"
                    label="Tech Info"
                    v-model="project.tech_info"
                    hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="input-7-1"
                    label="Other Info"
                    v-model="project.other_info"
                    hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project Language"
                    v-model="project.project_lang"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project Framework"
                    v-model="project.project_framework"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project App"
                    v-model="project.project_app"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project Tools"
                    v-model="project.project_tool"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project Database"
                    v-model="project.project_db"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project OS"
                    v-model="project.project_os"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Project Server"
                    v-model="project.project_server"
                    required
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogAdd = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-simple-table style="margin-top: 20px">
        <tbody v-for="item in data" :key="item.id">
          <tr style="background-color: orange">
            <td>Nama Project</td>
            <td colspan="5">{{ item.nama_project }}</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>
              <span
                v-for="n in item.tb_project_roles"
                :key="n.id_pr"
                class="badge badge-primary"
              >
                {{ n.role_tb_m_daftar_pekerjaan.nama_jabatan }}
              </span>
            </td>
            <td>Period From</td>
            <td>{{ item.tanggal_mulai | moment }}</td>
            <td>To</td>
            <td>{{ item.tanggal_selesai | moment }}</td>
          </tr>
          <tr>
            <td>Customer</td>
            <td colspan="5">{{ item.customer }}</td>
          </tr>
          <tr>
            <td>End Customer</td>
            <td colspan="5">{{ item.end_customer }}</td>
          </tr>
          <tr>
            <td>Project Site</td>
            <td colspan="5">{{ item.project_site }}</td>
          </tr>
          <tr>
            <td>Project Desc</td>
            <td colspan="5">{{ item.deskripsi_project }}</td>
          </tr>
          <tr>
            <td>Technical Info</td>
            <td colspan="5">{{ item.tech_info }}</td>
          </tr>
          <tr>
            <td>App Type</td>
            <td colspan="2">{{ item.project_app }}</td>
            <td>Dev Language</td>
            <td colspan="2">{{ item.project_lang }}</td>
          </tr>
          <tr>
            <td>Server OS</td>
            <td colspan="2">{{ item.project_os }}</td>
            <td>Framework</td>
            <td colspan="2">{{ item.project_framework }}</td>
          </tr>
          <tr>
            <td>DB</td>
            <td colspan="2">{{ item.project_db }}</td>
            <td>Dev Tools</td>
            <td colspan="2">{{ item.project_tool }}</td>
          </tr>
          <tr>
            <td>App Server</td>
            <td colspan="2">{{ item.project_server }}</td>
            <td>Other Info</td>
            <td colspan="2">{{ item.other_info }}</td>
          </tr>
          <tr>
            <td colspan="6">
              <v-btn color="info" depressed small @click="getEdit(item)">
                Edit
              </v-btn>
              <v-btn color="success" depressed small @click="getEditRole(item)"
                >Edit Project Role</v-btn
              >
              <v-btn color="error" depressed small @click="getDelete(item)">
                Delete
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Project from '../apis/Project';
import Master from '../apis/Master';
import moment from 'moment';

export default {
  name: 'Project',
  components: {
    Navbar,
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM YYYY');
    },
  },
  data() {
    return {
      project: {
        id_project: '',
        nama_project: '',
        tanggal_mulai: '',
        tanggal_selesai: '',
        customer: '',
        end_customer: '',
        project_site: '',
        deskripsi_project: '',
        tech_info: '',
        other_info: '',
        project_lang: '',
        project_framework: '',
        project_app: '',
        project_tool: '',
        project_db: '',
        project_os: '',
        project_server: '',
      },
      data: [],
      error: '',
      text: '',
      menu: false,
      menu2: false,
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      dialogRole: false,
      roles: [],
      new_role: {
        role: '',
      },
      job: [],
      id_project: '',
    };
  },
  async created() {
    this.getProject();
    this.getJob();
  },
  methods: {
    inputHandlerMulai(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY/MM/DD');
      this.project.tanggal_mulai = date;
    },

    inputHandlerSelesai(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY/MM/DD');
      this.project.tanggal_selesai = date;
    },

    async getProject() {
      try {
        const result = await (await Project.get()).data;
        if (result.length > 0) {
          this.data = result;
        } else {
          this.data = [];
          this.roles = [];
          this.$swal('Oops', 'No project data was found!', 'error');
        }
      } catch (error) {
        if (error.status == 404) {
          this.$swal('Oops', 'Something Error', 'error');
        }
      }
    },

    async getJob() {
      try {
        this.job = await (await Master.getJob()).data;
      } catch (error) {
        this.error = error.message;
      }
    },

    async save() {
      try {
        await Project.create(this.project)
          .then((response) => {
            console.log(response);
            // location.reload();
            this.getProject();
            this.project.nama_project = '';
            this.project.tanggal_mulai = '';
            this.project.tanggal_selesai = '';
            this.project.customer = '';
            this.project.end_customer = '';
            this.project.project_site = '';
            this.project.deskripsi_project = '';
            this.project.tech_info = '';
            this.project.other_info = '';
            this.project.project_lang = '';
            this.project.project_framework = '';
            this.project.project_app = '';
            this.project.project_tool = '';
            this.project.project_db = '';
            this.project.project_os = '';
            this.project.project_server = '';
            this.project.dialogAdd = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    getEdit(item) {
      try {
        this.dialogEdit = true;
        this.project.id_project = item.id_project;
        this.project.nama_project = item.nama_project;
        this.project.tanggal_mulai = item.tanggal_mulai;
        this.project.tanggal_selesai = item.tanggal_selesai;
        this.project.customer = item.customer;
        this.project.end_customer = item.end_customer;
        this.project.project_site = item.project_site;
        this.project.deskripsi_project = item.deskripsi_project;
        this.project.tech_info = item.tech_info;
        this.project.other_info = item.other_info;
        this.project.project_lang = item.project_lang;
        this.project.project_framework = item.project_framework;
        this.project.project_app = item.project_app;
        this.project.project_tool = item.project_tool;
        this.project.project_db = item.project_db;
        this.project.project_os = item.project_os;
        this.project.project_server = item.project_server;
      } catch (error) {
        console.log(error);
      }
    },

    getDelete(item) {
      try {
        this.dialogDelete = true;
        this.project.id_project = item.id_project;
        this.project.nama_project = item.nama_project;
      } catch (error) {
        console.log(error);
      }
    },

    async getRoles() {
      try {
        this.roles = await (await Project.getRole(this.id_project)).data;
        console.log(this.roles);
      } catch (error) {
        console.log(error);
      }
    },

    getEditRole(item) {
      this.dialogRole = true;
      this.id_project = item.id_project;
      this.getRoles();
      console.log(this.id_project);
    },

    async addRole() {
      try {
        await Project.createRole(this.id_project, this.new_role);
        this.getRoles();
        this.getProject();
      } catch (error) {
        console.log(error);
      }
    },

    async removeRole(id) {
      try {
        await Project.deleteRole(id);
        location.reload();
        this.getRoles();
        this.getProject();
      } catch (error) {
        console.log(error);
      }
    },

    async updateProject() {
      try {
        await Project.update(this.project.id_project, this.project)
          .then((response) => {
            console.log(response);
            this.getProject();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async deleteProject() {
      try {
        await Project.delete(this.project.id_project)
          .then((response) => {
            console.log(response);
            this.getProject();
            this.dialogDelete = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>