<template>
  <div class="register">
    <div class="container">
      <form @submit.prevent="handleSubmit">
        <h2>Register</h2>

        <div class="form-group">
          <label for="email">NIK</label>
          <input
            type="text"
            class="form-control"
            v-model="personal.nik"
            placeholder="nik"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            v-model="personal.email"
            placeholder="email"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            v-model="personal.password"
            placeholder="password"
            required
          />
        </div>

        <button class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</template>

<script>
import Auth from '../apis/Auth';

export default {
  name: 'Register',
  data() {
    return {
      personal: {
        nik: '',
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async handleSubmit() {
      try {
        await Auth.register(this.personal);
        this.$router.push('/login');
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>