<template>
  <div class="work">
    <v-dialog v-model="dialogEdit" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Work Experience</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Perusahaan*"
                  v-model="work.perusahaan"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="work.tanggal_masuk"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="work.tanggal_masuk"
                      label="Tanggal Masuk"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker @input="inputHandlerMasuk" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(work.tanggal_masuk)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu2"
                  v-model="menu2"
                  :close-on-content-click="false"
                  :return-value.sync="work.tanggal_keluar"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="work.tanggal_keluar"
                      label="Tanggal Keluar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    @input="inputHandlerKeluar"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu2 = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu2.save(work.tanggal_keluar)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="work.status_pegawai"
                  :items="status_pegawai"
                  item-text="status"
                  item-value="status"
                  single-line
                  auto
                  label="Status Pegawai"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEdit = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="updateWork">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"></span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <h2>Are sure want to delete {{ work.perusahaan }} ?</h2>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >No</v-btn
          >
          <v-btn color="info darken-1" text @click="deleteWork">Yes </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogRole" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update Work Role</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="new_role.kd_jabatan"
                  :items="job"
                  item-text="nama_jabatan"
                  item-value="kd_jabatan"
                  single-line
                  auto
                  label="Role"
                ></v-select>
                <v-btn color="blue darken-1" text @click="addRole">Add</v-btn>
                <ul>
                  <li class="flex" v-for="role in roles" :key="role.id_role">
                    {{ role.kd_jabatan_tb_m_daftar_pekerjaan.nama_jabatan }}
                    <button
                      class="nes-btn is-error padding"
                      v-on:click="removeRole(role.id_role)"
                    >
                      X
                    </button>
                  </li>
                </ul>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogRole = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Navbar />
    <div class="container">
      <h2>Work</h2>
      <v-dialog v-model="dialogAdd" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on"> Add New </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add New Work Experience</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Perusahaan*"
                    v-model="work.perusahaan"
                    required
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="work.tanggal_masuk"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="work.tanggal_masuk"
                        label="Tanggal Masuk"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      @input="inputHandlerMasuk"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(work.tanggal_masuk)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu2"
                    v-model="menu2"
                    :close-on-content-click="false"
                    :return-value.sync="work.tanggal_keluar"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="work.tanggal_keluar"
                        label="Tanggal Keluar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      @input="inputHandlerKeluar"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu2 = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu2.save(work.tanggal_keluar)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="work.status_pegawai"
                    :items="status_pegawai"
                    item-text="status"
                    item-value="status"
                    single-line
                    auto
                    label="Status Pegawai"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogAdd = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-simple-table>
        <tbody v-for="item in data" :key="item.id">
          <tr>
            <th>Nama</th>
            <th colspan="6">
              {{ item.perusahaan }} - {{ item.status_pegawai }}
            </th>
          </tr>
          <tr>
            <td style="background-color: orange">Period From</td>
            <td>{{ item.tanggal_masuk }}</td>
            <td style="background-color: orange">To</td>
            <td>{{ item.tanggal_keluar }}</td>
            <td style="background-color: orange">Current Role</td>
            <td>
              <span
                v-for="n in item.tb_p_pengalaman_kerja_roles"
                :key="n.id_role"
                class="badge badge-primary"
              >
                {{ n.kd_jabatan_tb_m_daftar_pekerjaan.nama_jabatan }}
              </span>
            </td>
            <td colspan="6">
              <v-btn color="info" depressed small @click="getEdit(item)">
                Edit
              </v-btn>
              <v-btn color="success" depressed small @click="getEditRole(item)"
                >Edit Work Role</v-btn
              >
              <v-btn color="error" depressed small @click="getDelete(item)">
                Delete
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Work from '../apis/Work';
import Master from '../apis/Master';
import moment from 'moment';

export default {
  name: 'Work',
  components: {
    Navbar,
  },
  data() {
    return {
      work: {
        id_pengalaman_kerja: '',
        perusahaan: '',
        tanggal_masuk: '',
        tanggal_keluar: '',
        status_pegawai: '',
      },
      data: [],
      error: '',
      text: '',
      menu: false,
      menu2: false,
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      dialogRole: false,
      roles: [],
      new_role: {
        kd_jabatan: '',
      },
      job: [],
      id_pengalaman_kerja: '',
      status_pegawai: [
        { status: 'Freelance' },
        { status: 'Full Time Employee' },
        { status: 'Part Time Employee' },
        { status: 'Outsource Employee' },
      ],
    };
  },
  async created() {
    this.getWork();
    this.getJob();
  },
  methods: {
    inputHandlerMasuk(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY/MM/DD');
      this.work.tanggal_masuk = date;
    },

    inputHandlerKeluar(date) {
      if (typeof date === 'string') date = moment(date).toDate();
      date = moment(date).format('YYYY/MM/DD');
      this.work.tanggal_keluar = date;
    },

    async getWork() {
      try {
        const result = await (await Work.get()).data;
        if (result.length > 0) {
          this.data = result;
          console.log(result);
        } else {
          this.data = [];
          this.roles = [];
          this.$swal('Oops', 'No work expericences data was found!', 'error');
        }
      } catch (error) {
        if (error.response.status == 404) {
          this.$swal('Oops', 'Something error!', 'error');
        }
      }
    },

    async getJob() {
      try {
        this.job = await (await Master.getJob()).data;
      } catch (error) {
        this.error = error.message;
      }
    },

    async save() {
      try {
        await Work.create(this.work)
          .then((response) => {
            console.log(response);
            this.getWork();
            this.work.perusahaan = '';
            this.work.tanggal_masuk = '';
            this.work.tanggal_keluar = '';
            this.work.status_pegawai = '';
            this.dialogAdd = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    getEdit(item) {
      try {
        this.dialogEdit = true;
        this.work.id_pengalaman_kerja = item.id_pengalaman_kerja;
        this.work.perusahaan = item.perusahaan;
        this.work.tanggal_masuk = item.tanggal_masuk;
        this.work.tanggal_keluar = item.tanggal_keluar;
        this.work.status_pegawai = item.status_pegawai;
      } catch (error) {
        console.log(error);
      }
    },

    getDelete(item) {
      try {
        this.dialogDelete = true;
        this.work.id_pengalaman_kerja = item.id_pengalaman_kerja;
        this.work.perusahaan = item.perusahaan;
      } catch (error) {
        console.log(error);
      }
    },

    async updateWork() {
      try {
        await Work.update(this.work.id_pengalaman_kerja, this.work)
          .then((response) => {
            console.log(response);
            this.getWork();
            this.dialogEdit = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async deleteWork() {
      try {
        await Work.delete(this.work.id_pengalaman_kerja)
          .then((response) => {
            console.log(response);
            this.getWork();
            this.dialogDelete = false;
          })
          .catch((e) => {
            console.log(e);
          });
      } catch (error) {
        console.log(error);
      }
    },

    async getRoles() {
      try {
        this.roles = await (await Work.getRole(this.id_pengalaman_kerja)).data;
        console.log(this.roles);
      } catch (error) {
        console.log(error);
      }
    },

    getEditRole(item) {
      this.dialogRole = true;
      this.id_pengalaman_kerja = item.id_pengalaman_kerja;
      this.getRoles();
    },

    async addRole() {
      try {
        await Work.createRole(this.id_pengalaman_kerja, this.new_role);
        this.getRoles();
        this.getWork();
      } catch (error) {
        console.log(error);
      }
    },

    async removeRole(id) {
      try {
        await Work.deleteRole(id);
        this.getRoles();
        this.getWork();
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>