<template>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="d-flex h-100">
        <div class="justify-content-center align-self-center">
          <h2>
            <strong>Create online cv,</strong> <br />
            for hiring manager
          </h2>
          <p>Ayo segera buat profil cv anda</p>
          <button class="btn btn-lg btn-primary">Buat</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img src="../assets/images/hero.svg" width="100%" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hero',
};
</script>

<style>
</style>