<template>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">ResuMe</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Home</router-link>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Personal
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="nav-link dropdown-item" to="/profile"
                >Profile</router-link
              >
              <router-link class="nav-link dropdown-item" to="/language"
                >Bahasa</router-link
              >
            </div>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/education"
              >Education</router-link
            >
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/course">Course</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/project">Project</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/work">Work</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/achievement"
              >Achievement</router-link
            >
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" @click="logUserOut"> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  methods: {
    logUserOut() {
      localStorage.removeItem('token');
      this.$router.push('/login');
    },
  },
};
</script>

<style>
</style>